node_modules
.vscode
.next
dist
package-lock.json
yarn-error.log
yarn-error.log
yarn.lock
coverage
*.log
*.tsbuildinfo
*.tgz
*.zip
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz
*.tar.lzma
*.tar.lzo
*.tar.lzop
*.tar.lz4
*.tar.lz4c
*.tar.lz4f
*.tar.lz4s
*.tar.lz4x
*.tar.lz4z
*.tar.lz4v

*.DS_Store
*.swp
*.swo